<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sending Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- use the font -->
    <style>
        @media screen and (max-width: 768px) {
            table {
                min-width: auto;
                width: 100%;
            }
        }
    </style>
</head>
<body>

<table align="center" border="0" cellpadding="0" cellspacing="0">
    <thead>
    <tr >
        <th style="height: 25px; background-color: rgb(2, 149, 192)">&nbsp;</th>
    </tr>
    <tr>
        <th class="gradientBG" style="height: 5px; background-color: rgb(2, 149, 192)">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr >
        <td style="padding: 30px 60px; font-size: 14px;">
            <p>Objet: <b><span th:text="${subject}"></span></b></p>
            <p>Madame, Monsieur, <p>
            <p>
                Nous regrettons de vous informer que l'adresse e-mail que vous avez fournie lors de votre tentative de connexion n'est pas enregistrée dans notre système.
                Ne vous inquiétez pas ! Pour bénéficier d'une expérience sans faille, nous vous invitons à vous inscrire pour créer votre compte en utilisant le lien <a th:href="@{https://www.agencedirecte.ma/fr/banque-en-ligne}">S'inscrire</a>.
            </p>
            <p><b>Dans l'attente de vous compter parmi nos clients.</b></p>
            <p>Nos conseillers sont à votre disposition pour tout besoin d’assistance : <p>
            <p>- Par téléphone + 212 5 20 39 30 30 </p>
            <p>- Par email : agencedirecte@bankofafrica.ma </p>
            <p>- Par chat en ligne </p>
            <p>- Par WhatsApp au + 212 06 45 00 00 </p>
            <p>Nous vous remercions de votre intérêt pour nos produits & services.</p>
            <p>Bien cordialement.</p>
        </td>
    </tbody>
</table>
</body>
</html>